@import "tailwindcss";

@layer base {
  * {
    @apply border-space-700;
  }

  body {
    @apply bg-space-900 text-nebula-100;
  }
}

@layer utilities {
  /* Custom scrollbar */
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-space-800;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-space-700 rounded-full;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-space-600;
  }
}
